@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Headers */
h1 {
    color: red;
    font-family: "Poppins SemiBold", VerdanaB, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", VerdanaB, sans-serif;
}

.threeToneFullGradient {
    position: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #FD6965 0%, #A471B6 35%, #5678FE 100%);
    width: 100%;
}
.threeToneFullGradient h1 {
    text-align: center;
    font-size: 130%;
    color: #F2F2F2;
}
.threeToneFullGradient a {
    text-decoration: none;
    color: #E3DFDF;
}

/* Header */
#header {
    margin-top: 36px;
    height: 50px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    background-color: rgba(240, 240, 240, 0.85);
    position: fixed;
    top: 0;
    z-index: 5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-bottom: 150px;
}

#logoLeft {
    display: inline-table;
    float: left;
    color: #3d3f45;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
    font-family: "Poppins ExtraBold", VerdanaB, sans-serif;
    font-size: 150%;
}

/* Body text */
#headerText {
    padding-top: 15px;
    /*padding-left: 50px;*/
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    font-size: 15pt;
    word-wrap: break-word;
    vertical-align: middle;
    /*width: 100%;*/
    position: relative;
    top: -500px;
}