@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Loader */
#loading-image {
    width: 80%;
}

/* Headers */
h1 {
    color: red;
    font-family: "Poppins SemiBold", VerdanaB, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", VerdanaB, sans-serif;
}

.threeToneFullGradient {
    position: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #FD6965 0%, #A471B6 35%, #5678FE 100%);
    width: 100%;
}
.threeToneFullGradient h1 {
    text-align: center;
    font-size: 130%;
    color: #F2F2F2;

    padding-top: -20px;
}
.threeToneFullGradient a {
    text-decoration: none;
    color: #E3DFDF;
}